<div style="display: flex; flex-direction: column; height: 100vh;">
    <app-toolbar></app-toolbar>

    <div style="display: flex; flex-grow: 1">
        <app-sidebar-menu></app-sidebar-menu>

        <div [ngClass]="{'sidebar-open': !menuTrueFalse}" class="container-list" style="flex-grow: 1">

            <div class="search-area">
                <label for="search"></label>
                <input type="text" id="search" name="search" [(ngModel)]="searchTerm"
                    placeholder="Digite o nome do paciente">
                <div class="container-btn">
                    <button class="btns" id="btn-search1" (click)="search()">BUSCAR</button>
                    <button class="btns" id="btn-clear1" (click)="clearSearch()">LIMPAR</button>
                </div>
            </div>

            <div *ngIf="isScreenLarge" class="list-area">

                <div class="patient-card1 header-area">
                    <div id="header-reg">Registro</div>
                    <div id="header-pat-name">Nome</div>
                    <div id="header-phone">Telefone</div>
                    <div id="header-ins">Convênio</div>
                    <div class="space-btn"></div>
                </div>
                
                <div *ngIf="noResults" class="no-results">
                    Nenhum paciente encontrado.
                </div>

                <div *ngFor="let patient of medicalRecordPatientsList" class="patient-card1">
                    <div class="card-content1" id="id">{{ patient.id }}</div>
                    <div class="card-content1" id="name">{{ patient.fullName | shortenName }}</div>
                    <div class="card-content1" id="phone">{{ patient.phone }}</div>
                    <div class="card-content1" id="insurance">{{ patient.healthInsurance }}</div>
                    <div class="edit-patient">
                        <button (click)="editPatient(patient.id)">EDITAR</button>
                    </div>

                </div>
            </div>

            <div *ngIf="!isScreenLarge" class="list-area">

                <div *ngIf="noResults" class="no-results">
                    Nenhum paciente encontrado.
                </div>

                <div *ngFor="let patient of medicalRecordPatientsList" class="patient-card1">

                    <div class="containers" id="header-reg">Registro: <div class="card-content1" id="id">{{
                            patient.id }}</div>
                    </div>

                    <div class="containers" id="header-pat-name">Nome: <div class="card-content1" id="name">{{
                            patient.fullName | shortenName }}</div>
                    </div>

                    <div class="containers" id="header-phone">Telefone: <div class="card-content1" id="phone">{{
                            patient.phone }}</div>
                    </div>

                    <div class="containers" id="header-ins">Convênio: <div class="card-content1" id="insurance">{{
                            patient.healthInsurance }}</div>
                    </div>

                    <div class="edit-patient">
                        <button (click)="editPatient(patient.id)">EDITAR</button>
                    </div>

                </div>
            </div>

            <div class="pages">
                <button (click)="goToPreviousPage()" [disabled]="isPreviousDisabled()">Retornar</button>
                <button (click)="goToNextPage()" [disabled]="isNextDisabled()">Seguinte</button>
            </div>

        </div>

    </div>
</div>

<router-outlet></router-outlet>