<div class="sidenav-container1">
    <!-- <div class="sidenav1" mode="side" [(opened)]="showSidebar"> -->
    <div class="sidenav1">

      <i class="material-icons" id="menu-close">menu_open</i> 
      <img src="../../../../assets/images/logo-labmedical.png" alt="Logomarca" id="logo-sidebar">
  
        <div class="general-menu">  
            <div class="group-menu">

                <button class="menu-button" [routerLink]="['/home']">
                    <!-- <mat-icon>assessment</mat-icon> -->
                    <i class="material-icons">assessment</i>
                    <!-- <span class="material-symbols-outlined">health_metrics</span> -->
                    <span id="btn-text">PAINEL MÉDICO</span>
                </button>

                <button class="menu-button" [routerLink]="['/lista-prontuarios']">
                    <!-- <mat-icon>assignment</mat-icon> -->
                    <i class="material-icons">assignment</i>
                    <span id="btn-text">PRONTUÁRIOS</span>
                </button>
                
                <button class="menu-button" [routerLink]="['/registro-paciente']">
                    <!-- <mat-icon>person_add</mat-icon> -->
                    <i class="material-icons">person_add</i>
                    <span id="btn-text">NOVO PACIENTE</span>
                </button>
                
                <button class="menu-button" [routerLink]="['/registro-consulta']">
                    <!-- <mat-icon>calendar_today</mat-icon> -->
                    <i class="material-icons">calendar_today</i>
                    <span id="btn-text">NOVA CONSULTA</span>
                </button>

                <button class="menu-button" [routerLink]="['/registro-exame']">
                    <!-- <mat-icon>note_add</mat-icon> -->
                    <i class="material-icons">note_add</i>
                    <span id="btn-text">NOVO EXAME</span>
                </button>

                <button class="menu-button" [routerLink]="['/registro-usuario']">
                    <!-- <mat-icon>account_circle</mat-icon> -->
                    <i class="material-icons">person_add</i>
                    <span id="btn-text">NOVO USUÁRIO</span>
                </button>

                <button class="menu-button" [routerLink]="['/lista-usuarios']">
                    <!-- <mat-icon>account_circle</mat-icon> -->
                    <i class="material-icons">person_search</i>
                    <span id="btn-text">USUÁRIOS</span>
                </button>

            </div>  
        </div> 
        
        <div id="exit" (click)="cleanLoggedUser()">
            <p>SAIR</p>
            <i class="material-icons">logout</i>
        </div>

    </div>
</div>
