<div style="display: flex; flex-direction: column; height: 100vh;">
    <app-toolbar></app-toolbar>

    <div style="display: flex; flex-grow: 1;">
        <app-sidebar-menu></app-sidebar-menu>

        <div [ngClass]="{'sidebar-open': !menuTrueFalse}" class="container-list" style="flex-grow: 1">

            <div class="search-area">
                <label for="search"></label>
                <input type="text" id="search" name="search" [(ngModel)]="searchTerm"
                    placeholder="Busque o usuário pelo e-mail ou nº do registro">
                <div class="container-btn">
                    <button class="btns" id="btn-search1" (click)="search()">BUSCAR</button>
                    <button class="btns" id="btn-clear1" (click)="clearSearch()">LIMPAR</button>
                </div>
            </div>

            <div *ngIf="isScreenLarge" class="list-area">

                <div class="user-card1 header-area">
                    <div class="card-header register-id">Registro</div>
                    <div class="card-header login-email">Login</div>
                    <div class="card-header role">Perfil</div>
                    <div class="card-header password">Senha</div>
                    <div class="card-header space-btn"></div>
                </div>
                
                    <div *ngIf="noResults" class="no-results">
                        Nenhum usuário encontrado.
                    </div>

                <div *ngFor="let user of usersList" class="user-card1">
                    <div class="card-content1 register-id">{{ user.userId }}</div>
                    <div class="card-content1 login-email">{{ user.email }}</div>
                    <div class="card-content1 role">{{ user.roleName | roleTransform }}</div>
                    <div class="card-content1 password">{{ user.password }}</div>
                    <div class="edit-user">
                        <button (click)="editUser(user.userId)">EDITAR</button>
                    </div>

                </div>
            </div>

            <div *ngIf="!isScreenLarge" class="list-area">

                <div *ngIf="noResults" class="no-results">
                    Nenhum usuário encontrado.
                </div>

                <div *ngFor="let user of usersList" class="user-card1">

                    <div class="containers register-id">Registro: 
                        <div class="card-content1 register-id min-width-none">{{user.id }}</div>
                    </div>
                    
                    <div class="containers login-email">Login: 
                        <div class="card-content1 login-email min-width-none">{{ user.email }}</div>
                    </div>

                    <div class="containers role">Perfil: 
                        <div class="card-content1 role min-width-none">{{ user.roleName }}</div>
                    </div>

                    <div class="containers password">Senha: 
                        <div class="card-content1 password min-width-none">{{ user.password }}</div>
                    </div>

                    <div class="edit-user">
                        <button (click)="editUser(user.userId)">EDITAR</button>
                    </div>

                </div>
            </div>

            <div class="pages">
                <button (click)="goToPreviousPage()" [disabled]="isPreviousDisabled()">Retornar</button>
                <button (click)="goToNextPage()" [disabled]="isNextDisabled()">Seguinte</button>
            </div>

        </div>

    </div>
</div>

<router-outlet></router-outlet>