@import '../../../assets/styles/variables';

.container1 {
    margin-top: 85px;
    margin-bottom: 50px;
    margin-right: 20px;
    margin-left: 220px;
    width: 100%;
}

::ng-deep div.slider-content {
    @include border-shadow();
}

::ng-deep .topics button {
    @include border-shadow();
}

.patient-title {
    background: $colorGeneralCard;
    border-radius: 4px;
    height: 50px;
    margin-bottom: 20px;
    vertical-align: middle;
}

.patient-title h2 {
    font-size: 1.7rem;
    color: $colorTitleToolbar;
    padding-left: 15px;
    font-family: "Dosis", sans-serif;
    padding-top: 7px;
}

.container-edit-btn {
    display: flex;
    justify-content: end;
}

.edit-btn {
    background: $colorButton;
    color: $colorFontButton;
    border-radius: 4px;
    height: 35px;
    width: 75px;
    margin: 15px;
    border: none;
    font-family: "Dosis", sans-serif;
}

.edit-btn:hover {
    background: $colorHover;
    color: $colorFontButtonHover;
}

.content-container {
    display: flex;
    flex-direction: column;
    width: 80vw;
    padding: 0.5rem;
    @include border-shadow ();
}

.content-patient {
    margin: 1rem;
}

.content-patient p {
    margin: 1rem;
    border-bottom: 1px solid black;
}

.containerCards {
    margin-top: 1rem;
    border-bottom: 4px solid #4A7A8C;
    padding-bottom: 5px;
}

.image {
    padding: 0.5rem;
}

/* Card das informações */
::ng-deep .p-card-body {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #d9d9d948;
    border-radius: 4px;
    @include border-shadow();
}

/* Linha do timeline */
.p-timeline-event-connector {
    width: 4px;
    height: 100%;
    background-color: #4A7A8C;
}

/* Elemento padrão do timeline que você não quer que apareça */
::ng-deep .p-timeline-event-opposite {
    display: none;
}