<div *ngIf="menuTrueFalse" class="sidebar-space"></div>
<div [ngClass]="{'sidebar-open': !menuTrueFalse}" class="toolbar">
    <h1 class="page-title">{{ pageTitle }}</h1>

    <div class="user-info">
        <span class="logged-user">Usuário:<strong> Gabriel filomeno testando{{ userName }}</strong></span>
        <div class="profile-icon">
            <img src="../../../../assets/images/doctor.png" alt="Foto de Perfil">
        </div>
        <div id="logout-icon" (click)="cleanLoggedUser()">
            <i class="material-icons">logout</i>
        </div>

    </div>
</div>