<div *ngIf="menuTrueFalse" class="sidebar-space"></div>
<div [ngClass]="{'sidebar-open': !menuTrueFalse}" class="toolbar">
    <h1 class="page-title">{{ pageTitle }}</h1>

    <div class="user-info">
        <span class="logged-user">Usuário:<strong> {{ userName }}</strong></span>
        <div class="profile-icon">
            <img *ngIf="userRole === 'ADMIN'" src="../../../../assets/images/pat-male.webp" alt="Foto de Perfil">
            <img *ngIf="userRole === 'MEDICO'" src="../../../../assets/images/woman-doctor.png" alt="Foto de Perfil">
            <img *ngIf="userRole === 'PACIENTE'" src="../../../../assets/images/pat-female.webp" alt="Foto de Perfil">
        </div>
        <div id="logout-icon" (click)="cleanLoggedUser()">
            <i class="material-icons">logout</i>
        </div>

    </div>
</div>
