@import '../../../assets/styles/variables';

input,
select {
  box-sizing: border-box;
}

.form-container1 {
  margin-top: 85px;
  width: calc(100% - 200px);
  margin-left: 220px;
  margin-right: 20px;
  transition: width 0.3s ease, margin-left 0.3s ease;
}

.sidebar-open {
  width: 100%;
  margin-left: 20px;
  transition: width 0.27s ease, margin-left 0.27s ease;
}

#button-group1 {
  display: flex;
  justify-content: right;
}

#button-group1 button {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  text-transform: uppercase;
  margin-left: 10px;
  background: $colorButton;
  border: none;
  border-radius: 4px;
  color: $colorFontButton;
  height: 40px;
  width: 85px;
}

#button-group1 button:disabled {
  background: $colorButtonDisable;
  color: $colorFontButtonDisable;
}

#button-group1 button:hover {
  background: $colorHover;
  color: $colorFontButtonHover;
}

#button-group1 button:disabled:hover {
  background: $colorButtonDisable;
  color: $colorFontButtonDisable;
}

.forms {
  background: $colorAreaBackground;
  border-radius: 4px;
  padding: 1%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include border-shadow();
}

h4 {
  margin: 10px 0px;
  font-size: 1.7rem;
  font-weight: 500;
  color: $colorTitleSectionForm;
  font-family: "Dosis", sans-serif;
  text-align: left;
}

.row1 {
  display: flex;
  width: 100%;
  margin-top: 10px;
}

.form-field1 {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 10px;
}

.form-field1:last-child {
  margin-right: 0;
}

.number,
.cep {
  flex: 1;
}

.name,
.insurance,
.complement {
  flex: 2;
}

.street {
  flex: 3;
}

input,
select {
  width: 100%;
  height: 35px;
  margin: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  border-radius: 4px;
  border: 2px solid #ccc;
  font-family: "Dosis", sans-serif;
  border-radius: 4px;
  font-size: 1.3rem;
}

input:focus {
  border: 2px solid black;
  outline: none;
}

select:focus{
  border: 2px solid black;
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px white inset !important;
  -webkit-text-fill-color: #000 !important;
}


select option {
  background-color: white;
  color: black;
}

label {
  display: flex;
  height: 50px;
  align-items: end;
  font-family: "Dosis", sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  color: $colorLabelForms;
}

mat-error {
  color: $colorTextDangerForm;
  font-family: "Dosis", sans-serif;
  font-size: 1.1rem;
}

select:disabled,
input:disabled {
  background: rgb(182, 182, 182);
  color: $colorFontDisable;
}

@keyframes checkmark {
  0% {
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  95% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.checkmark {
  position: fixed;
  top: 40%;
  left: 50%;
  animation: checkmark 1s;
  z-index: 9999;
}

@media only screen and (max-width: 767px) {
  .form-container1 {
    width: 100%;
    margin-left: 20px;
    transition: none;
  }

  .sidebar-open {
    transition: none;
  }
}

@media only screen and (max-width: 600px) {

  label,
  input,
  select {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 480px) {
  .form-container1 {
    margin-top: 111px;
  }

  h4 {
    margin: 0px;
  }

  #button-group1 {
    gap: 10px;
  }

  #button-group1 button {
    width: 100%;
    margin-left: 0px;
  }

  .forms {
    align-items: center;
  }

  .row1 {
    flex-direction: column;
    align-items: center;
  }

  .form-field1 {
    margin: 0px !important;
  }

  label,
  input,
  select {
    width: 80vw;
  }
}