<app-dialog></app-dialog>

<div class="container1">

  <div class="logo">
    <img id="logo-img" src="../../../assets/images/logo-labmedical.png">
  </div>

  <div class="login-area" *ngIf="!showRegisterForm && !showPasswordArea">
    <div class="lab-connect">
      <p id="connect">Conecte-se em <span>LABmedical</span></p>
      <p id="connect-text-below">Entre com os dados da sua conta abaixo</p>
    </div>
    <div class="input-email">
      <input type="email" id="email" name="email" placeholder="e-mail" [(ngModel)]="email">
    </div>
    <div class="input-password">
      <input type="password" id="password" name="password" placeholder="senha" [(ngModel)]="password">
    </div>
    <div class="button-login" (click)="login()">
      <button>ENTRAR</button>
    </div>
    <p id="forgot-pass"><span (click)="togglePasswordArea()">Esqueceu a senha?</span></p>
    <div class="line-or">
        <div class="line1"></div>
        <div class="text-line">
          <p>ou</p>  
        </div>
        <div class="line2"></div>
      </div>
      <div class="signup">
        <p>Não possui uma conta? <span (click)="toggleRegisterForm()">Registre agora!</span></p>
      </div>  
    </div>
  
    <div class="register-area" *ngIf="showRegisterForm">
      <form [formGroup]="registerForm">
        <div class="lab-register-area">
          <p id="lab-register">Registre-se em <span>LABmedical</span></p>
          <p id="lab-register-text">Preencha os campos abaixo para criar uma conta</p>
        </div>
        <div class="register-name">
          <p>Nome</p>
          <input type="text" id="input-name" formControlName="name">
        </div>
        <div class="register-email">
          <p>E-mail</p>
          <input type="email" id="input-email" formControlName="email">
        </div>
        <div class="register-role">
            <p>Perfil</p>
            <select formControlName="role" name="role" id="select-role">
                <option value="admin">Admin</option>
                <option value="doctor">Médico(a)</option>
            </select>
            <div *ngIf="registerForm.controls['role'].invalid && (registerForm.controls['role'].dirty || registerForm.controls['role'].touched)" class="warning">Selecione um perfil</div>
        </div>
        <div class="register-password">
          <p>Senha</p>
          <input type="password" id="input-password" formControlName="password">
          <div *ngIf="registerForm.controls['password'].invalid && (registerForm.controls['password'].dirty || registerForm.controls['password'].touched)" class="warning">Senha precisa ter 9 caracteres ou mais</div>
        </div>
        <div class="register-password-confirm">
          <p>Confirmar senha</p>
          <input type="password" id="input-password-confirm" formControlName="confirm">
        </div>
        <div class="register-buttons">
          <button class="button-back" (click)="toggleRegisterForm()">VOLTAR</button>
          <button id="button-register" (click)="userPreRegister()">CRIAR CONTA</button>
        </div>
      </form>  
    </div>

    <div class="password-area" *ngIf="showPasswordArea">
      <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
        <div class="change-password">
          <p id="connect">Recupere o acesso de <span>LABmedical</span></p>
          <p id="connect-text-below">Informe o e-mail da sua conta e defina uma nova senha</p>
        </div>

        <div class="email-password">
          <p>E-mail</p>
          <input id="email-password-area" formControlName="email" type="email" required>

          <div *ngIf="changePasswordForm.controls['email'].invalid && (changePasswordForm.controls['email'].dirty || changePasswordForm.controls['email'].touched)">
            <div *ngIf="changePasswordForm.controls['email'].errors?.['required']" class="warning">Email é obrigatório.</div>
            <!-- <div *ngIf="changePasswordForm.controls['email'].errors?.['email']">Email inválido.</div> -->
        </div>
        
        </div>
        
        <div class="new-password">
          <p>Nova senha</p>
          <input id="newPassword" formControlName="newPassword" type="password" required>
          
          <div *ngIf="changePasswordForm.controls['newPassword'].invalid && (changePasswordForm.controls['newPassword'].dirty || changePasswordForm.controls['newPassword'].touched)">
            <div *ngIf="changePasswordForm.controls['newPassword'].errors?.['required']" class="warning">Nova senha é obrigatória.</div>
            <div *ngIf="changePasswordForm.controls['newPassword'].errors?.['minlength']" class="warning">A nova senha deve ter pelo menos 9 caracteres</div>
        </div>

        </div>
      
        <div class="password-buttons">
          <button class="button-back" (click)="togglePasswordArea()">VOLTAR</button>
          <button id="change-password-button" type="submit">ALTERAR A SENHA</button>
        </div>
      </form>

    </div>

</div>
