@import '../../../assets/styles/_variables';

body {
    margin: 0;
    padding: 0;
}

.container1 {
    display: flex;
    width: 100vw;
    height: 100vh;
    padding: 0;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background: $colorBackgroundLogoSigeLogin;
}

#logo-img {
    width: 12.5rem;
}

.login-forgot-signup-area {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
    background: $colorBackgroundFormSideLogin;
    font-family: "Quicksand", sans-serif;
}

.size {
    width: 350px;
}

.container-text {
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    color: $colorFontClearLogin;
}

.container-text-title {
    display: flex;
    align-items: center;
}

.title {
    margin-left: 0.5rem;
    color: $colorLabMedicalBrand;
}

.text-below-title {
    color: $colorFontMidLogin;
    font-size: 0.8rem;
    margin-top: -10px;
}

.inputs {
    background: $colorInputBackground;
    border: 1px solid $colorFormBorderLoginRegister;
    border-radius: 4px;
    height: 50px;
    color: $colorFontInput;
    padding-left: 15px;
    font-size: 1rem;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.inputs::placeholder {
    color: $colorInputPlaceholder;
}

.buttons {
    background: $colorButtonLoginRegister;
    border-radius: 4px;
    height: 50px;
    color: $colorFontButton;
    margin-top: 20px;
    border-style: none;
    font-size: 1rem;
    font-family: "Dosis", sans-serif;
    font-weight: 400;
    cursor: pointer;
}

.buttons:hover {
    background: $colorHover;
    color: $colorFontButtonHover;
    font-weight: 500;
}

.container-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-forgot-and-signup {
    color: $colorFontMidLogin;
    font-size: 0.9rem;
}

.forgot-and-signup {
    color: $colorFontClearLogin;
}

.forgot-and-signup:hover {
    cursor: pointer;
    color: $colorHover;
}

.container-line {
    display: flex;
    justify-content: center;
}

.line {
    width: 150px;
    height: 1px;
    background: $colorFormBorderLoginRegister;
    margin-top: 27px;
}

.text-line p {
    margin-left: 15px;
    margin-right: 15px;
    color: $colorFormBorderLoginRegister;
}

#select-role option {
    background-color: $colorBackgroundSelect;
}

.container-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-label-input {
    display: flex;
    flex-direction: column;
}

label {
    color: $colorFontClearLogin;
    margin-bottom: 0;
    margin-top: 5px;
}

.button-back {
    width: 30%;
}

.forgot-and-signup-button {
    width: 70%;
    margin-left: 10px;
}

.warning {
    color: $colorTextDanger;
}

@media only screen and (max-width: 1366px) {
    .size {
        width: 270px;
    }
}
