@import '../../../assets/styles/_variables';

body {
    margin: 0;
    padding: 0;
}

.container1 {
    display: flex;
    width: 100vw;
    height: 100vh;
    padding: 0;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 100vh;
    background: $colorBackgroundLogoSigeLogin;
}

#logo-img {
    width: 12.5rem;
}

.login-forgot-signup-area {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    height: 100vh;
    background: $colorBackgroundFormSideLogin;
    font-family: "Quicksand", sans-serif;
    font-size: 1.4rem;
}

.size {
    width: 420px;
}

.container-text {
    display: flex;
    flex-direction: column;
    font-size: 1.9rem;
    color: $colorFontClearLogin;
}

.container-text-title {
    display: flex;
    align-items: center;
}

.title {
    margin-left: 0.5rem;
    color: $colorLabMedicalBrand;
}

.text-below-title {
    color: $colorFontMidLogin;
    font-size: 1.3rem;
    margin-top: -10px;
}

.inputs {
    background: $colorInputBackground;
    border: 1px solid $colorFormBorderLoginRegister;
    border-radius: 4px;
    height: 50px;
    color: $colorFontInput;
    padding-left: 15px;
    font-size: 1.6rem;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.inputs::placeholder {
    color: $colorInputPlaceholder;
}

.buttons {
    background: $colorButtonLoginRegister;
    border-radius: 4px;
    height: 50px;
    color: $colorFontButton;
    margin-top: 20px;
    border-style: none;
    font-size: 1rem;
    font-family: "Dosis", sans-serif;
    font-weight: 400;
    cursor: pointer;
}

.buttons:hover {
    background: $colorHover;
    color: $colorFontButtonHover;
    font-weight: 500;
}

.container-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-forgot-and-signup {
    color: $colorFontMidLogin;
    font-size: 1.3rem;
}

.forgot-and-signup {
    color: $colorFontClearLogin;
    font-size: 1.6rem;
}

.forgot-and-signup:hover {
    cursor: pointer;
    color: $colorHover;
}

.container-line {
    display: flex;
    justify-content: center;
}

.line {
    width: 150px;
    height: 1px;
    background: $colorFormBorderLoginRegister;
    margin-top: 27px;
}

.text-line p {
    margin-left: 15px;
    margin-right: 15px;
    color: $colorFormBorderLoginRegister;
    font-size: 1rem;
}

#select-role option {
    background-color: $colorBackgroundSelect;
}

.container-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-label-input {
    display: flex;
    flex-direction: column;
}

label {
    color: $colorFontClearLogin;
    margin-bottom: 0;
    margin-top: 5px;
}

.button-back {
    width: 30%;
    margin-bottom: 10px;
}

.forgot-and-signup-button {
    width: 70%;
    margin-left: 10px;
    margin-bottom: 10px;
}

.warning {
    color: $colorTextDanger;
}

@media only screen and (max-width: 376px) {
    .size {
        width: 300px !important;
    }
}

@media only screen and (max-width: 481px) {
    .size {
        width: 20rem;
    }

    #logo-img {
        width: 8rem !important;
    }

    .login-forgot-signup-area {
        height: 80vh;
    }

    .container-text-title {
        flex-direction: column;
    }

    .container-text-title p {
        margin-bottom: 0px;
    }

    .title {
        margin-top: 0px;
    }

    .container-forgot-and-signup {
        text-align: center;
        width: 19rem;
    }
}

@media only screen and (max-width: 767px) {
    .logo {
        height: 20vh;
    }

    .container-text-title {
        justify-content: center;
        margin-top: 30px;
        width: 100%;
        height: 100px;
    }

    .inputs {
        height: 40px;
    }

    .container-label-input {
        height: 70px;
    }

    .container-forgot-and-signup {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
    }

    .container-line {
        align-items: center;
        height: 20px;
        margin-bottom: 10px;
    }

    .line {
        margin-top: 5px;
    }
}

@media only screen and (max-width: 1023px) {
    .container1 {
        flex-direction: column;
    }

    .logo {
        width: 100vw;
        height: 30vh;
    }

    #logo-img {
        width: 12rem;
    }

    .login-forgot-signup-area {
        justify-content: start;
        width: 100vw;
        min-height: 100vh;
    }
}