// basic colors
$transparent: transparent;
$white: #ffffff;
$purpleWhite: #f3eafe;
$whiteLowOpacity: #ffffff98;
$whiteMediumOpacity: #ffffff73;
$whiteHighOpacity: #ffffff34;
$blueHighOpacity: #4668fd1c;
$purpleHighOpacity: #6b54f034;
$blackHighOpacity: #00000041;
$darkPurple: #2d2246;
$darkPurple2: #3A2362;
$purple: #6b54f0;
$pinkPurple: #b779ff;
$lightPurple: #dacef5;
$redBrand: #FF4155;
$red: #e70017;
$redMediumOpacity: #ff4154a6;
$purplePinkGradient: linear-gradient(to right, #9091cc, #b779ff);
$green: #007459;
$black: #000000;

// SHARED

// general
$colorPageBackground: $purplePinkGradient;
$colorBrand: $white;
$colorSearchBackground: $whiteLowOpacity;
$colorSearchPlaceholder: $blackHighOpacity;
$colorGeneralCard: $white;
$colorAreaBackground: $whiteLowOpacity;
$colorBackgroundSidebarMenu: $white;
$colorBorderSidebarMenu: $transparent;
$colorBackgroundToolbar: $white;
$colorPatCardNameBackground: $blueHighOpacity;
$colorCardContent: $whiteMediumOpacity;
$colorPatientResult: $black;
$colorPatientResultHover: $redBrand;
$colorPatientNotFound: $redBrand;

// forms
$colorFormBorder: $pinkPurple;
$colorLabelForms: $black;
$colorTitleSectionForm: $black;
$colorBackgroundDisable: $purpleHighOpacity;
$colorFontDisable: $black;
$colorTextDangerForm: $red;

// fonts
$colorGeneralFont: $black;
$colorTitleToolbar: $black;
$colorFontToolbar: $black;
$colorTextDanger: $redBrand;

// buttons
$colorButton: #4A7A8C;
$colorFontButton: $white;
$colorHover: $redBrand;
$colorFontButtonHover: $black;
$colorButtonDisable: $purpleHighOpacity;
$colorFontButtonDisable: rgba($white, 0.266);
$colorButtonLoginRegister: $purple;
$colorButtonEditPatientCard: $blueHighOpacity;
$colorFontBtnEditPatCard: $black;
$colorBtnSaveFormValid: $green;

// icons
$colorIcon: $white;
$colorHoverIcon: $black;
$colorIconOutsideMenu: $black;
$colorHoverIconOutsideMenu: $redBrand;

// PAGES

$colorPageBackground: #DAE9EC;
$colorAreaBackground: #f5f5f5de;

// dashboard
$colorGeneralCard: $whiteLowOpacity;
$colorCardContent: $whiteLowOpacity;
$colorPatCardNameBackground: $blueHighOpacity;
$colorSearchBackground: $whiteLowOpacity;
$colorSearchPlaceholder: $blackHighOpacity;
$colorPatientNotFound: $redBrand;

// login
$colorFontClearLogin: rgba($white, 0.747);
$colorFontMidLogin: rgba($white, 0.596);
$colorFontDarkLogin: $white;
$colorFontFormsLoginRegister: $white;
$colorLabelLoginRegister: $white;
$colorFormBorderLoginRegister: rgba($white, 0.295);
$colorBackgroundFormSideLogin: $darkPurple;
$colorBackgroundLogoSigeLogin: $white;
$colorLabMedicalBrand: $redBrand;
$colorFontInput: $white;
$colorBackgroundSelect: $black;
$colorInputPlaceholder: $whiteHighOpacity;
$colorInputBackground: $transparent;

// medical record
$colorInterleavedList1: $purpleWhite;
$colorInterleavedList2: $transparent;
$colorMedRecListHover: $redMediumOpacity;
$colorFontHeaderForm: $white;
$colorFontHeaderArea: $black;
$colorContainerList: $whiteLowOpacity;
$colorHeaderArea: $purpleWhite;
$colorInfoBackground: $lightPurple;
$colorInfoBackgroundLabel: $transparent;
$colorInfoBackgroundPatient: $white;
$colorBorderLabelMedicalRecord: $transparent;
$colorBtnTopicBackground: $whiteLowOpacity;
$colorBtnTopicFont: $black;

// COMPONENTS

// dialog
$colorBackgroundDialog: $darkPurple;
$colorBorderDialog: $redBrand;
$colorFontDialog: $white;
$colorBtnDialog: $lightPurple;
$colorFontBtnDialog: $black;

// sidebar menu
$colorBackgroundSidebarMenu: #6DB7B8;
$colorBorderSidebarMenu: $transparent;

// toolbar
$colorBackgroundToolbar: #6DB7B8;

// sombra para borda
@mixin border-shadow($color: gray, $blur: 10px) {
    box-shadow: 0 0 $blur $color;
  }
