// basic colors
$transparent: transparent;
$white: #ffffff;
$purpleWhite: #f3eafe;
$whiteLowOpacity: #ffffff98;
$whiteMediumOpacity: #ffffff73;
$whiteHighOpacity: #ffffff34;
$blueHighOpacity: #4668fd1c;
$purpleHighOpacity: #6b54f034;
$blackHighOpacity: #00000041;
$darkPurple: #2d2246;
$darkPurple2: #3A2362;
$purple: #6b54f0;
$pinkPurple: #b779ff;
$lightPurple: #dacef5;
$redBrand: #FF4155;
$red: #e70017;
$redMediumOpacity: #ff4154a6;
$purplePinkGradient: linear-gradient(to right, #9091cc, #b779ff);
$green: #007459;
$black: #000000;

// dialog
$colorBackgroundDialog: $darkPurple;
$colorBorderDialog: $redBrand;
$colorFontDialog: $white;

