.app-toolbar {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.app-sidebar-menu {
    display: flex;
    flex-grow: 1;
}

.dashboard-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    width: calc(100% - 200px);
    min-width: 50%;
    margin-left: 220px;
    margin-top: 65px;
    margin-right: 20px;
    transition: width 0.3s ease, margin-left 0.3s ease;
}

.sidebar-open {
    width: 100%;
    margin-left: 20px;
    transition: width 0.27s ease, margin-left 0.27s ease;
}

.app-stats-role-doctor,
.app-stats-role-admin {
    flex-grow: 1;
    width: 100%;
}

.patient-card {
    flex-grow: 1;
    width: 100%;
}

@media only screen and (max-width: 767px) {

    .dashboard-content {
        width: 100%;
        margin-right: 20px;
        margin-left: 20px;
        transition: none;
    }

    .sidebar-open {
        transition: none;
    }
}